version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: orca_db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: orca_user
      POSTGRES_PASSWORD: orca_password
      POSTGRES_DB: orca_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          memory: 512M

volumes:
  postgres_data:
